.mobilenav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 995;
  transition: all 0.1s linear;
  visibility: hidden;
  display: block;
}
.transparent-bg {
  transition-delay: 0.001s;
  visibility: visible;
}
.mobilenav {
  position: fixed;
  background: var(--main-white);
  width: 80%;
  height: calc(100% + 60px);
  top: 0px;
  left: 0;
  z-index: 997;
  color: var(--main-black);
  transition: all 0.3s linear;
  transform: translateX(-105%);
  -webkit-transform: translateX(-105%);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.show-nav {
  transition: all 0.3s linear;
  transform: translateX(0);
}
.mobilenav-item {
  width: 100%;
  padding: 0.5rem 0;
  /* background-color: #8687882f; */
  margin: 0.5rem 0;
}
.mobilenav-item a {
  padding: 0 0 0 2rem;
  color: var(--main-black);
  font-family: var(--tet-font-bold);
  text-transform: capitalize;
  font-size: 3rem;
  width: 100%;
  display: flex;
  text-decoration: none;
}
.mobilenav-footer {
  color: var(--main-white);
  font-family: var(--tet-font-bold);
  text-transform: uppercase;
  position: absolute;
  margin: 60px 0 0 0;
  bottom: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
}

.mobilenav-footer-text p {
  text-align: center !important;
  color: var(--main-black);
}
.mobilenav-footer-text span {
  color: var(--primary-color);
}
.mobilenav-logo {
  height: 90px;
  padding: 2rem 0 0 2rem;
  margin: 0 0 2rem 0;
}
.signup-style {
  background-color: var(--primary-color);
  color: var(--main-white) !important;
  width: 100%;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
}
.signup-style a {
  padding: 0 0 0 2rem;
  color: var(--main-black);
  font-family: var(--tet-font-bold);
  text-transform: capitalize;
  font-size: 3rem;
  width: 100%;
  display: flex;
  text-decoration: none;
}
.login-style {
  background-color: var(--main-black);
  color: var(--main-white) !important;
  width: 100%;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
}
.login-style a {
  padding: 0 0 0 2rem;
  color: var(--main-white);
  font-family: var(--tet-font-bold);
  text-transform: capitalize;
  font-size: 3rem;
  width: 100%;
  display: flex;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .mobilenav-item {
    margin: 1rem 0;
  }
  .mobilenav-item a {
    padding: 0 0 0 2rem;
    color: var(--main-black);
    text-transform: capitalize;
    font-size: var(--medium-font);
    width: 100%;
    display: flex;
    text-decoration: none;
  }
  .login-style a {
    padding: 0 0 0 2rem;
    color: var(--main-white);
    text-transform: capitalize;
    width: 100%;
    display: flex;
    text-decoration: none;
    font-size: var(--medium-font);
  }
  .login-style {
    margin: 1rem 0;
  }
  .signup-style a {
    padding: 0 0 0 2rem;
    color: var(--main-black);
    text-transform: capitalize;
    width: 100%;
    display: flex;
    text-decoration: none;
    font-size: var(--medium-font);
  }
  .signup-style {
    margin: 1rem 0;
  }
  .mobilenav {
    position: fixed;
    background: var(--main-white);
    width: 50%;
    height: calc(100% + 60px);
    top: 0px;
    left: 0px;
    z-index: 997;
    color: var(--main-black);
    /* box-shadow: 0 0 1.2rem 0 rgba(29, 28, 28, 0.849); */
    transition: all 0.3s linear;
    /* transform: translateX(-105%);
    -webkit-transform: translateX(-105%); */
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
}
