.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  background: var(--main-white);
  z-index: 2;
  box-shadow: 0 0 1.2rem 0 rgba(29, 28, 28, 0.849);
}
.navbar-center {
  max-width: 117rem;
  margin: 0 auto;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.navbar-links {
  height: 0;
  overflow: hidden;
  /* transition: var(--main-transition); */
  list-style: none;
}
.brand-logo  {
  font-size: var(--small-font);
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primary-color);
  letter-spacing: var(--main-spacing);
}
@media screen and (min-width: 768px){
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }
}
@media screen and (min-width: 1170px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 2rem;
    background: var(--main-white);
    z-index: 2;
    box-shadow: 0 0 1.2rem 0 rgba(29, 28, 28, 0.849);
  }
  .navbar-btn {
    display: none;
  }
  .navbar-item{
    margin: 0 0 0 1rem;
  }
  .navbar-links {
    height: auto;
    display: flex;
    align-items: center;
  }
  .navbar-links a {
    padding: 0.5rem 0;
    color: var(--main-black);
  }
  .navbar-single-link {
    background: none;
    padding: 1rem 0rem;
    font-size: 1.6rem;
    font-weight: 540;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
    margin: 0 2rem;
  }

}
